.cardspaceing {

 display: flex;
 padding: 12px 7px;
 flex-direction: row;
 float:left;
  /* 
  flex: 1;
  display: flex;
  ;
  justify-content: center;
  align-items: center; */
}
.label {
  display: flex;
  align-items: center;
}
.input[type=checkbox]{
  flex: none;
}
.form_container{
  padding: 40px;
  margin-top: 49px;
  border-style:double;
  margin-right: 40px;
  margin-left:50px;
}
.form_input{
 padding: 10px 50px;
 margin-right: 65%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border-radius: 5px;
}
.details{
  display: flex;
}